@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&family=Tourney:ital,wght@1,300&display=swap');

*{
  margin:0;
  font-family: 'Roboto', sans-serif;
}
a, ul {
  text-decoration: none;
  margin: none;
  padding: 0;
}

header {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  background-color: dodgerblue;
  margin-bottom: 2rem;

}
header h2 {
  display: block;
  font-size: 2rem;
  text-align: center;
}

h1, h2 {
  margin-bottom: 1rem;
}
h2 {
  margin-top: 2rem;
}
.menu {
  max-width: 100%;
  display:flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.logo {
  font-family: 'Tourney', cursive;
  color: #fff;
}
.menu a{
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}
.menu a:hover {
  cursor: pointer;
  color: black;
  transition: 1s;
}

li{
  list-style: none;
  display: inline-block;
  font-size: 2rem;
}
label, input, button {
  display: block;
}

img {
  max-width: 100%;
  margin: 1rem 0;
}

main, section {
  max-width: 90%;
  margin: 0 auto;
}

input {
  margin-bottom: 1rem;
}

iframe {
  width: 100% ;
}

@media only screen and (min-width: 579px) {
  header {
    justify-content: space-between;
    padding: 2rem;
  }
}